Kivy==2.3.0
# https://kivy.org/doc/stable/installation/installation-windows.html
# python -m pip install "kivy[base] @ https://github.com/kivy/kivy/archive/master.zip"

KivyMD==1.2.0
# https://kivymd.readthedocs.io/en/latest/getting-started/
# pip install https://github.com/kivymd/KivyMD/archive/master.zip
